<footer class="footer">

  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://hoyee.com/">Main</a></li>
    </ul>
  </nav>
</footer>